/* Kanban.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.kanban-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.column {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.column:hover {
    transform: scale(1.02);
}

.column h2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #00BFFF; /* Cor cinza */
    color: white;
    border-radius: 5px;
}

.task {
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Para posicionar o indicador de prioridade */
}

.task:hover {
    background-color: #d3d3d3;
    transform: translateY(-2px);
}

.task h4 {
    margin: 0;
    color: #333;
    font-size: 1.2em;
}

.task p {
    margin: 5px 0;
    color: #555;
}

/* Indicador de prioridade */
.priority-indicator {
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.priority-low {
    background-color: #28a745; /* Verde para baixa */
}

.priority-medium {
    background-color: #ffc107; /* Amarelo para média */
}

.priority-high {
    background-color: #dc3545; /* Vermelho para alta */
}

button {
    background-color: #00BFFF; /* Cor cinza */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 5px;
}

button:hover {
    background-color: #5a6268; /* Cinza escuro */
    transform: translateY(-1px);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}
/* src/Kanban.css */
.priority-indicator {
    width: 10px;
    height: 100%; /* Ajuste a altura conforme necessário */
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.priority-baixa {
    background-color: green;
}

.priority-média {
    background-color: yellow;
}

.priority-alta {
    background-color: red;
}